.gallery {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
}

.imageCard {
    width: 25%;
    max-height: 96px;
    overflow: hidden;
}

.imageCard:hover {
    cursor: pointer;
}

.galleryImage {
    max-width: 100%;
}
.galleryImageTall {
    max-width: 400px;
}

.modalImage {
    width: 90%;
    height: auto;
    max-width: 720px;
    min-width: 342px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}

.centerImage {
    display: flex;
    justify-content: center;
}

