.gallery {
display: flex;
flex-direction: row;
flex-wrap: wrap;
    
}

.imageCard {
    width: 25%;
    height: 100px;
    overflow: hidden;
}

.galleryImage {
    max-width: 100%;
    overflow: hidden;
}