.siteContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.siteBody {
    display: flex;
    flex-direction: column;
    /* max-width: 1400px; */
    justify-content: center;
    align-items: center;
}

.pageBody {
    max-width: 1400px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    
    align-items: left;
}

.skillsDiv {
    border: black solid 1px;
    text-align: left;
    color: white;
    background-color: black;
    padding-top: 15px;
    text-align: center;
}

.skillsSection {
    margin: 20px 0px;
    border: 1px black solid;
    border-radius: 10px 10px;
    overflow: hidden;
    /* max-width: 80%; */
    justify-content: center;
    /* align-self: center; */
    
}

.skillsCard {
    text-align: center;
}

.pPF{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 70px;
    
}

.pPFBox {
    margin: 0px 1%;
    padding: 70px;
    max-width:25%;

    border: solid black 1px;
    display: flex;
    justify-content: center;
}

.iconBox {
    width: 10%;
    min-width: 75px;
    padding: 5px

}

.detailsCard {
    
    padding: 5% 10%;
    /* margin: 5% 10%; */
    /* border: 1px rgba(0, 0, 0, 0.18) solid; */
    border-radius: 1%;
    /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.385); */
    background-color: white;
    
}

.marginTop {
    margin-top: 15px;
}
.marginBottom {
    margin-bottom: 30px;
}
.indent {
    margin-left: 20px;
}
.indentLarge {
    margin-left: 30px;
}
.detailBody {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    margin-bottom: 10px;
    margin-left: 20px;
}

.titleAndParagraph {
    padding: 1% 0;
    font-size: x-large;
}
.blackBackground {
    /* background-color: red; */
}
.biggerFont {
    font-size: xx-large;
    font-weight: 900;
    font-style: italic;
    margin-left: 2px;
}
.biggerFont2 {
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2px;
}

.subText {
    font-size: xx-large;
    font-style: normal;
    font-weight: 300;
}

.resumeDetails {
    font-size: 1.1em;
}

.bold {
    font-weight: bold;
}

.subTitle {
    font-size: x-large;
    font-weight: 300;
    font-style: oblique;
}

.marginBottom20 {
    margin-bottom: 20px;
}
.marginBottom60 {
    margin-bottom: 20px;
}

.headlineText {
    font-size: 5em;
    font-weight: lighter;
}

.titleText {
    font-size: xx-large;
}
.webDeveloper {
    margin-left: 10px;
    font-size: small;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(70, 70, 70);
    color: white;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: row;
    padding: 20px;
   
}

.padding20 {
    padding: 0px 20px;
}
.navStyle {
    /* position: fixed !important;
    position: static !important; */
    width: 100% !important;
}

.photoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 5%;
}

.headerPhoto {
    position: relative;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    /* max-width: 1200px; */
}

.sizeSm {
/* max-width: 30%; */
}

.row {
    /* display: flex !important; */
    /* flex-direction: row !important; */
}

.headerContainer {
    background-color: rgba(21, 21, 22, 0.925);
    padding: 0px 0px 0px 0px;
    /* display: flex; */
    /* flex-direction: row; */
}

#apps-and-acts-container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap-reverse; */
    padding-left: 10%;
    justify-content: space-between
    /* align-items: center; */

}

#acts {
    max-width: 50%;
    min-width: 49%;
    display: flex;
    flex-direction: column;
}

#apps {
max-width: 50%;
min-width: 49%;
display: flex;
flex-direction: column;
}

.buttonSize {
    background-color: white;
    color: black;
    font-size: .9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    min-width: 100px;
    max-width: 50%;
    box-shadow: -10px 15px 10px 0px rgba(128, 128, 128, 0.31);
    padding: 10% 0%;
}